<p></p>

<h1 class="ui centered header">Finished Goods Stock</h1>

<div id="navbar1" class="ui inverted menu">
  <%= link_to 'All Entries', stocks_index_path, class: current_class?(root_path)%>
  <%= link_to 'Report 1', report1_path, class: current_class?(report1_path) %>
  <%= link_to 'Report 2', root_path, class: current_class?(report2_path)%>
</div>
