<div class="ui grid">
  <div class="centered fifteen wide column">
    <h1>New Stock</h1>

    <%= render 'form', stock: @stock %>

    <%= link_to 'Back', stocks_path, class: "ui black basic button" %>

  </div>
</div>