# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\@UoA\papa1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
